@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab:wght@200&display=swap');

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
}

body, html {
  background-color: black;
  height: 100vh;
  width: 100%;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto Slab', serif;
}

body {
  background-color: #ACB0B0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width : 500px) {
  .container {
    
    background-color: #34373C;
    width: 70%;
    display: grid;
    padding: 52px 40px ;
    border-radius: 22px;
    box-shadow: 2px 2px 20px 0px  rgba(0,0,0,0.75);
  
  }
}

@media screen  and ( min-width: 501px) {
  
  .container {
    /* background-color: #fff; */
    background-color: #34373C;
    width: 30%;
    display: grid;
    padding:  32px  100px;
   
    border-radius: 22px;
    box-shadow: 2px 2px 20px 0px  rgba(0,0,0,0.75);
  
  }
}

.myimage {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.profileimg {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 2px 02px 6px #ACB0B0;
}

.namesec {
  /* background-color: #fff; */
  color: #fff;
  margin-bottom: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.namesec h3 {
  text-shadow: .2px .5px #fff;
}

.btn{
  background-color: #35383D;
  color: #fff;
  /* display: ; */
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 11px;
  box-shadow: 4px 4px 4px rgba(0,0,0,2), -2px -2px 2px rgba(255, 255, 255, 0.07) ;
  border: 0px;
  font-size: 14px;
  /* transition:  .9s  ; */

}

.btn:hover{
  box-shadow: -1px -1px 1px 0 rgba(255, 255, 255, 0.07),
               1px 1px 1px 0 rgba(0, 0, 0, .5);
}

.buttonclass {
  padding-bottom: 10px;
}



.icon{
  margin-right: 15px;
  font-size: larger;
  padding: .2px;
}

.fa-twitter{
  margin-right: 20px;
}

.fa-github{
  margin-right: 20px;
}